
.fixed-header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #B0C4DE; /* Цвет фона header */
    padding: 10px;
    text-align: center;
    color: #2F4F4F; /* Цвет текста */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень текста */
    z-index: 1000; /* Устанавливаем z-index, чтобы header был выше других элементов */
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.narrow-container {
    max-width: 800px; /* Например, установите желаемую максимальную ширину */
    margin: 0 auto; /* Центрируем содержимое по горизонтали */
}
h3 {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px
    solid #78788c
}
label {
    padding-left: 10px;
}

input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{border-bottom:2px solid #78788c}

.main-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-footer {
    border-radius: 20px;
}
.card-child {
    margin-left: 40px;
}

.avatar_image {
    width: 100px; height: 100px; border-radius: 50%;
}
.avatar_image:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.btn-primary {
    background-color: #4169E1;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #6495ED;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Ваш желаемый стиль тени при наведении */
}
/* Style for selected avatar */
.select {
    display: block;
    max-width: 215px;
    width: 100%;
    position: relative;
}

.new-select {
    position: relative;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: #12b223;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Style for upload image */
