
.container {
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.main-form {
    margin-top: 20px; 
    margin-bottom: 20px; 
}


.card {
    margin-bottom: 10px;
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-child {
    margin-left: 20px;
}





/* Изменение стилей Bootstrap для пагинации 
.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
}
*/